<div class="container">
  <div class="logo">
    <img class="logo-img" src="../../../../../assets/imgs/logo.svg" alt="" />
    <p class="logo-text">Ant Design</p>
  </div>
  <nav class="navigation-buttons">
    <span class="navigation-buttons-item" nz-icon nzType="search" nzTheme="outline"></span>
    <span class="navigation-buttons-item" nz-icon nzType="question-circle" nzTheme="outline"></span>
    <span class="navigation-buttons-item" nz-icon nzType="bell" nzTheme="outline"></span>
    <div class="navigation-buttons-profile">
      <img class="navigation-buttons-profile-picture" src="" alt="" />
      <p class="navigation-buttons-profile-name">Serati Ma</p>
    </div>
    <span class="navigation-buttons-item" nz-icon nzType="translation" nzTheme="outline"></span>
  </nav>
</div>
