{
  "prettier/prettier": [
    "error",
    {
      "endOfLine": "auto"
    }
  ],
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "html",
        "tabWidth": 2,
        "printWidth": 140
      }
    },
    {
      "files": ["*.ts"],
      "options": {
        "parser": "typescript",
        "tabWidth": 2,
        "printWidth": 140,
        "trailingComma": "es5",
        "brace_style": "1tbs",
        "endOfLine": "auto",
        "singleQuote": true
      }
    },
    {
      "files": ["*.js"],
      "options": {
        "parser": "babel",
        "tabWidth": 2,
        "printWidth": 140,
        "trailingComma": "es5",
        "brace_style": "1tbs",
        "endOfLine": "auto",
        "singleQuote": true
      }
    }
    ,
    {
      "files": ["*.scss"],
      "options": {
        "endOfLine": "auto",
        "tabWidth": 2,
        "printWidth": 140,
        "singleQuote": true
        
      }
    }
  ]
}
