<div class="container">
  <div class="label">
    <label class="label-name">{{ label }}</label>
    <p [class.hidden]="!isValidatable" *ngIf="baseControl.errors && baseControl.touched" class="label-star">*</p>
  </div>

  <nz-select [nzMode]="selectionMode" nzPlaceHolder="Inserted are removed" [formControl]="baseControl">
    <nz-option
      *ngFor="let option of options"
      [nzLabel]="option.attributes.name"
      [nzValue]="option"
      [nzHide]="!isNotSelected(option)"
    ></nz-option>
  </nz-select>

  <div [class.hidden]="!isValidatable" class="error">
    <p *ngIf="baseControl.errors && baseControl.touched" class="error-message">Please, specify the field</p>
  </div>
</div>
