<div class="container">
  <div class="label">
    <label class="label-name">{{ label }}</label>
    <p *ngIf="baseControl.errors && baseControl.touched" class="label-star">*</p>
  </div>

  <div>
    <nz-tree-select
      style="width: 250px"
      [(ngModel)]="value"
      [nzNodes]="nodes"
      (ngModelChange)="changeValue($event)"
      [nzDefaultExpandAll]="true"
      nzShowSearch
      nzCheckable
      [nzPlaceHolder]="placeholder"
    ></nz-tree-select>
  </div>

  <div class="error">
    <p *ngIf="baseControl.errors && baseControl.touched" class="error-message">Please, specify the field</p>
  </div>
</div>
