@mixin label-roboto {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
}

@mixin thin-label-roboto {
  font-family: Roboto, serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
}

@mixin error-roboto {
  font-family: Roboto, serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  color: red;
}
