<div class="container">
  <div class="add-button">
    <button [routerLink]="'add'" class="add-button-item" nz-button nzType="primary">Add {{addButtonContext}}</button>
  </div>
  <nz-table class="table" #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th *ngFor="let field of fieldNames" [nzWidth]="field.width!">{{field.fieldName}}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="row" (click)="emitRowId(data.id)" *ngFor="let data of basicTable.data" [attr.id]="data.id">
        <td *ngFor="let field of fieldNames">{{ (data?.[field.name] || data.attributes?.[field.name]) | extractName}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
