<div class="container">
  <div class="add-button">
    <button class="add-button-item" nz-button nzType="primary">Add Employee</button>
  </div>
  <nz-table class="table" #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th *ngFor="let field of fieldNames">{{field.fieldName}}</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="emitCellId(data.id)" *ngFor="let data of basicTable.data" [attr.id]="data.id">
        <td *ngFor="let field of fieldNames">{{ data?.[field.name]}}</td>
        <td>
          <nz-divider nzType="vertical"></nz-divider>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
