:host {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: block;

  .project-form {
    display: flex;
    flex-direction: row;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
  }
}
