:host {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: block;

  .general-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    &-block {
      display: flex;
      gap: 30px;
    }
  }
}
