<div class="container">
  <div class="label">
    <label class="label-name">{{ label }}</label>
    <p *ngIf="baseControl.errors && baseControl.touched" class="label-star">*</p>
  </div>
  <nz-date-picker
    (nzOnOpenChange)="changeTouchedState($event)"
    nzFormat="dd.MM.yyyy"
    [nzPlaceHolder]="placeholder"
    [formControl]="baseControl"
  ></nz-date-picker>
  <div class="error">
    <p *ngIf="baseControl.errors && baseControl.touched" class="error-message">Please, specify the field</p>
  </div>
</div>
