<!-- <div class="container">
  <form class="languages-form" [formGroup]="formGroup">
    <div formArrayName="languages">
      <div class="languages-form-block" *ngFor="let language of getFormArray().controls; let i = index" formGroupName="{{i}}">
        <cvg-multi-select-control
          [label]="i < 1 ? 'Languages' : ''"
          formControlName="name"
          [options]="(languageNames | async) ?? []"
          placeholder="Traditional Japanese..."
        ></cvg-multi-select-control>

      </div>
    </div>
    <cvg-plus-button [isDisabled]="formGroup.invalid" class="languages-form-button" (click)="addFormGroup()"></cvg-plus-button>
  </form>
</div> -->
