<div class="container">
  <cvg-translate-button class="translation"></cvg-translate-button>

  <div class="auth">
    <div class="auth-main">
      <div class="auth-main-logo">
        <img class="auth-main-logo-img" src="../../../../../assets/imgs/logo.svg" alt="" />
        <p class="auth-main-logo-text">Ant Design</p>
      </div>

      <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="auth-main-form">
        <div class="auth-main-form-inputs">
          <cvg-input-control
            formControlName="identifier"
            type="text"
            label="Username"
            placeholder="johnwick@rambler.ru..."
          ></cvg-input-control>
        </div>
        <cvg-input-control formControlName="password" type="password" label="Password" placeholder="qwerty123..."></cvg-input-control>
        <div class="auth-main-form-controls">
          <div class="auth-main-form-controls-login-essentials">
            <label
              class="auth-main-form-controls-login-essentials-label"
              nz-checkbox
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="isRemember"
              >Remember me?</label
            >
            <p class="auth-main-form-controls-login-essentials-forgot">Forgot your password?</p>
          </div>
          <button class="auth-main-form-controls-button" type="submit" nz-button nzType="primary">Login</button>
        </div>
      </form>
    </div>
  </div>

  <div class="question-container">
    <span class="question-container-icon" nz-icon nzType="question-circle" nzTheme="outline"></span>
  </div>
</div>
