@import "../../../../../styles/mixins";
@import "../../../../../styles/colors";

:host {
  width: 100%;
  height: 100%;
  display: block;
  background: #f0f2f5;
}

.container {
  margin: 0;
  padding: 0;
  background-image: url("../../../../../assets/imgs/bg.svg");
  background-position: 100px 100px;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .translation {
    // position: absolute;
    // top: 0;
    // right: 0;
  }

  .question-container {
    // position: absolute;
    // bottom: 0;
    // right: 0;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &-icon {
      font-size: 50px;
      cursor: pointer;
    }
  }

  .auth {
    display: flex;
    flex-direction: column;

    &-header {
      display: flex;
    }

    &-main {
      width: 360px;

      &-form {
        &-controls {
          display: flex;
          flex-direction: column;

          &-login-essentials {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 11px;
            margin-bottom: 10px;

            &-label {
              @include thin-label-roboto;
            }

            &-forgot {
              @include thin-label-roboto;

              color: $primary-blue;
              cursor: pointer;
            }
          }

          &-button {
            width: 100%;
            height: 40px;
          }
        }
      }

      &-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;

        &-img {
          width: 50px;
          height: 50px;
        }

        &-text {
          font-family: Montserrat, sans-serif;
          font-size: 33px;
          font-weight: 600;
          margin: 0;
        }
      }
    }
  }
}
