<div class="container">
  <div class="auth">
    <div class="auth-header"></div>

    <div class="auth-main">
      <div class="auth-main-logo">
        <img class="auth-main-logo-img" src="../../../../../assets/imgs/logo.png" alt="" />
        <p class="auth-main-logo-text">Ant Design</p>
      </div>

      <form class="auth-main-form">
        <div class="auth-main-form-inputs">
          <p class="auth-main-form-inputs-p">Username</p>
          <input type="text" />
        </div>
        <div class="input">
          <p>password</p>
          <input type="text" />
        </div>
        <div class="controls">
          <div class="controls-login-essentials">
            <button type="button">Remember me</button>
            <button type="button">Forgot your password?</button>
          </div>
          <button type="button">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
