<div class="container">
  <form class="skills-form" [formGroup]="formGroup">
    <div formArrayName="skills">
      <div class="skills-form-block" *ngFor="let skill of getFormArray().controls; let i = index" formGroupName="{{i}}">
        <cvg-select-control
          [label]="i < 1 ? 'Skills' : ''"
          formControlName="name"
          [options]="(skillNames | async) ?? []"
          placeholder="Vue.js..."
        ></cvg-select-control>
        <cvg-radio-control formControlName="level" [options]="skillLevels"></cvg-radio-control>
      </div>
    </div>
    <cvg-plus-button [isDisabled]="formGroup.invalid" class="skills-form-button" (click)="addFormGroup()"></cvg-plus-button>
  </form>
</div>
