@import '../../../../../../../styles/mixins';

:host {
  width: 100%;
  height: 100%;
  display: block;

  ::ng-deep {
    .ant-tabs-nav .ant-tabs-tab {
      @include thin-label-roboto;
    }
  }
}

.container {
  width: 100%;
  height: 100%;
  display: block;

  .info-form {
    display: flex;
    flex-direction: column;

    &-block {
      display: flex;
      flex-direction: row;
      gap: 30px;
    }
  }
}
