<div class="container">
  <div class="label">
    <label class="label-name">{{ label }}</label>
    <p *ngIf="baseControl.errors && baseControl.touched" class="label-star">*</p>
  </div>

  <nz-select [formControl]="baseControl" nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue">
    <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
    <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
    <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
  </nz-select>

  <div class="error">
    <p *ngIf="baseControl.errors && baseControl.touched" class="error-message">Please, specify the field</p>
  </div>
</div>
