<div class="container">
  <form class="project-form" [formGroup]="projectsForm" (ngSubmit)="testConsole()">
    <cvg-input-control formControlName="name" type="text" label="Name" placeholder="CV Generator..."></cvg-input-control>
    <cvg-date-picker-control formControlName="from" label="From" placeholder="07.10.1952"></cvg-date-picker-control>
    <cvg-date-picker-control formControlName="to" label="To" [placeholder]="todayDate"></cvg-date-picker-control>
    <br />
    <cvg-input-control formControlName="teamSize" type="text" label="Team Size" placeholder="12"></cvg-input-control>
    <button type="submit">Log form</button>
  </form>
</div>
